<!DOCTYPE html>
<html lang="en">
  <!------ PLEASE DELETE ME WHEN NEW FILE CREATED ---------->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

<<<<<<< HEAD
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="./styles/homestyle.css" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
  </head>
=======
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/homestyle.css">
  <!------ Include the above in your HEAD tag ---------->
</head>
>>>>>>> index

  <body>
    <div class="sidenav">
      <div class="login-main-text">
        <h2>
          QuizAPP<br />
          Login Page
        </h2>
        <p>Login or register from here to access.</p>
      </div>
    </div>
<<<<<<< HEAD
    <div class="main">
      <div class="col-md-6 col-sm-12">
        <div class="login-form">
          <form>
            <div class="form-group">
              <label>User Name</label>
              <input type="text" class="form-control" placeholder="User Name" />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <button type="submit" class="btn btn-black">Login</button>
            <button type="submit" class="btn btn-secondary">Register</button>
            <button
              type="submit"
              class="btn btn-black"
              id="facilitator-from-home-ejs"
            >
              Facilitator
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="../public/scripts/components/dashboard.js"></script>
    <script src="../public/scripts/app.js"></script>
  </body>
=======
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form action="/login" method="POST">
        <div class="form-group">
          <label>User Name</label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email" name='email'>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type='password' class='form-control' id='password' placeholder='Password' name='password'>
        </div>
        <button type="submit" class="btn btn-black">Login</button>
        <button type="submit" class="btn btn-secondary">Register</button>
      </form>
    </div>
  </div>
</div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

>>>>>>> index
</html>
