<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/./styles/error.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <title>404</title>
</head>
<body>
  <section class="error_section">
    <p class="error_section_subtitle">Oops Page is not available !</p>
    <h1 class="error_title">
      <p>404</p>
      404
    </h1>
    <a href="/login" class="btn">Back to home</a>
  </section>




  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/../public/scripts/error.js"></script>
</body>
</html>
