body {
  font-family: montserrat;
  background-color: #f2ebdc;
}

.right_bg {
  background-image: url(/images/coding2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
  width: 50%;
}
