.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10vh 0 2vh 0;
  padding: 0 1vw;
}

.remove-margin-top {
  margin-top: 2vh;
}

.col-md {
  height: 88vh;
  margin: 0 1.5vw;
  padding: 0.5em;
  background: none;
}

.quiz_title_dashboard,
.question_card_dashboard {
  /* margin: 0.5em; */
  height: inherit;
  padding: 0;
  z-index: -1;
}

.clickable {
  cursor: pointer;
}
