.container {
  height: 92vh;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  border: solid black thin;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2vh 0;
  padding: 0 1vw;
}
.card {
  height: 88vh;

  margin: 0 1.5vw;
}
