.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10vh 0 2vh 0;
  padding: 0 1vw;
}

.remove-margin-top {
  margin-top: 5vh;
}

.col-md {
  height: 88vh;
  margin: 0 1.5vw;
  padding: 0.5em;
  background: none;
}

.quiz_title_dashboard,
.question_card_dashboard {
  /* margin: 0.5em; */
  height: inherit;
  padding: 0;
  z-index: -3;
}

.clickable {
  cursor: pointer;
}

.share {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

.share i {
  padding-right: 10px;
}

.quiz_title_dashboard #title {
  opacity: 1;
  background-color: rgba(240, 248, 255, 0.8);
  width: 50%;
  margin: 0 auto;
  border-radius: 25px;
}

.quiz_title_dashboard {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 2em;
  background-image: url("https://source.unsplash.com/random");
}

.fa-share-square {
  margin-top: 5px;
}
