header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #262626;
  color: #fff;
  height: 8vh;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
}

header li .header-link {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
  margin: 0 16px;
  cursor: pointer;
}
.brand {
  font-size: 1.7em;
}
.logout_btn {
  padding-right: 40px;
  margin-right: 0;
}
