nav {
  background-color: #262626;
  display: flex;
  align-items: center;
  height: 6vh;
  color: #fff;
}
li {
  list-style: none;
  cursor: pointer;
}
.navbar-brand {
  font-size: 1.5em;
  color: #fff;
}

.nv-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nv-links {
  display: flex;
}
.nv-links-side {
  display: flex;
  position: relative;
  left: 52em;
}

.nav-link {
  color: #fff;
}
