.question_form_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 80%; */
}

.form-group {
  width: 80%;
}

.form-footer {
  border: solid thin black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* margin: 0 20px; */
}

.btn {
  position: relative;
}

h2 {
  position: relative;
  border: solid black thin;
}
a {
  border: solid black thin;
}
